@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
    background-color: hsl(212, 45%, 89%);
    font-family:Outfit ;
   
    
    
}

.border{
    background-color:hsl(0, 0%, 100%) ;
    text-align: center;
    border-radius: 10px;
     width: 320px;
    height: 499px;   
   
}



.conteneur{
    display: flex;
    justify-content: center;
    align-items: center;
     width: 1440px;
    height: 960px;
}

.qr-code img{
    border-radius: 15px;
     width: 288px;
    height: 288px;
    margin: 15px;
}

p{
    font-size: 15px;
    color: hsl(216, 15%, 48%);
}
.conteneur .border{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 589px) {
  .conteneur{
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

